* {
  box-sizing: border-box;
}

body {
  background: #eceff1;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  /* width: 768px;
  max-width: 100%;
  min-height: 480px; */
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 10px;
  padding: 20px;
}

.login-form form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.input-icon-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input::placeholder {
  font-weight: bolder;
}

p {
  /* text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7); */
  color: #000000;
  font-size: 1.3em;
  font-weight: bolder;
}

.login-form button {
  cursor: pointer;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #2b75ff;
  background-color: #2b75ff;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}
/* 
.login-form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
} */
