.planner-app {
  background-image: url("./assets/federico-respini-sYffw0LNr7s-unsplash.jpg");
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
}

.app-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px;
  padding: 20px;
  min-height: 260px;
}

.app-body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* grid-gap: 10px; */
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  height: 100vh;
  text-align: center;
}

.feature-container {
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  min-height: 180px;
  min-width: 320px;
  transition: all 0.45s ease-in-out;
}

.feature-container:hover {
  background-color: rgba(255, 255, 255, 0.65);
}

textarea {
  resize: none;
  background-color: rgba(255, 255, 255, 0);
  border: 2px;
}

/* textarea:focus {
  outline: none;
} */

blockquote {
  font-weight: 100;
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: 0.5rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #f1efe6;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "\201c";
  font-family: "special-elite";
  /* content: "“"; */
  left: -5rem;
  top: -2rem;
}

blockquote:after {
  font-family: "special-elite";
  content: "”";
  right: -5rem;
  bottom: 1rem;
}

cite {
  line-height: 3;
  text-align: left;
}

input {
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  outline: none;
  background-color: #ffffffb7;
  height: 50px;
  margin: 10px;
}

input::placeholder {
  color: #000000c4;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}
